body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5 !important;
  font-weight: 500;
}

/* Headings */
/* "Meet new and interesting dogs" */
.Title-Heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #FFF;
  margin-top: 5%;
  margin-bottom: 5%;
}

.Section-Heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 800;
}

/* Section Classes ⬇️ */
.color-section {
  background-color: #ea86b6;
  color: #fff;
}

.white-section {
  background-color: #fff;
  text-align: center;
}

/* Super Container for Title Section to Indent Padding */
.title-container {
  padding: 3% 15% 13% !important;
}

/* Styles the "Tindog title" */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem !important;
  line-height: 1.5;
  font-weight: 500;
  margin-left: -1rem;
}

/* Centers "Meet new and interesting..." on mobile viewports */
@media screen and (max-width: 1028px) {
  .subtitle {
    text-align: center;
  }
}

/* Styles "Contact, Pricing, Download" */
.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Spaces out the "Contact, Pricing, Download" */
.nav-item {
  padding-right: 3rem;
}

/* Styles the Download buttons */
.download-btn {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  margin-right: 3%;
}

/* Rotates the iPhone image to the right slightly */
.iphone-img {
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
  padding-top: 4.5rem;
  width: 55%;
}

/* Makes iphone img  straight and static on mobile devices */
@media screen and (max-width: 1028px) {
  .iphone-img {
    position: static;
    transform: rotate(0deg);
  }
}

/* Centers all elements for features section */
#features {
  position: relative;
}

/* Super Container for Features Section to Indent Padding */
.feature-container {
  padding: 3% 15% 7% !important;
}

.feature-title {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
}

/* ✅ 🎯 🧡 Icons Style */
.fas {
  color: #ef8172;
  padding-bottom: 1rem;
  margin-top: 5%;
}

/* Changes icon colors when hover */
.fas:hover {
  color: #ff4c68;
}

/* Features subtext section styling */
.features-subtext {
  color: #8f8f8f;
  margin-bottom: 5rem;
  padding: 4.5%;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 500;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #8db596;
}

.Testimony-Heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
}

/* Rounded Testimonial Photos */
.testimonial-img {
  border-radius: 50%;
  width: 20%;
  padding: 3% 2%;
}

.carousel-item {
  padding: 7% 15%;
}

.Dog-Location {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;
}

#press {
  background-color: #8db596;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* Find the True Love... Call to Action */
.cta-container {
  text-align: center;
  padding: 7% 15% !important;
}

/* Styles Find the True Love of... */
.cta-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  padding-bottom: 3%;
}

/* Copyright section */
.footer-container {
  padding: 5% 12% !important;
}

/* Twitter, facebook, insta, email */
.socials {
  padding: 1.7%;
  color: black;
}

/* Preserves spacing for socials" on mobile viewports */
@media screen and (max-width: 1028px) {
  .socials {
    padding: 2.2%;
  }
}

/* Changes social icon colors when hover */
.twitter:hover {
  color: #1DA1F2;
}

/* Changes social icon colors when hover */
.facebook:hover {
  color: #4267B2;
}

/* Changes social icon colors when hover */
.insta:hover {
  color: #E1306C;
}

/* Copyright p text */
.copyright {
  font-size: 1rem !important;
  padding-top: 2%;
}
